<%= flash_messages %>
<div class= "col-xs-12 container-fluid">
  <% article_sort_by_vote(@articles).in_groups_of(3, false).each do |article_array|%>
    <div class="image-index row article-row">
      <% article_array.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="card card-inverse col-xs-4 image-index" style="background-image: url('<%=article.image %>')">
            <div class="card-img-overlay">
              <h4 class="card-title splash-article-text"></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br />
</div>
