<div class="col-xs-12">
  <div class="flash-message-container">
    <%= flash_messages %>
  </div>
  <div class="newuserimage">
    <% if current_user == nil %>
      <img class="newmain img-responsive" src="http://i.imgur.com/f5nkiF7.png?1">
    <% end %>
  </div>
  <div class="brand-image show-mobile">
    <img class="img-responsive" src="https://i.imgur.com/EtptcPf.png">
  </div>
  <div class="newusertext">
    <% if current_user == nil %>
      <h1 class="text-center splash-title">Munilol</h1>
      <h2 class="text-center splash-title2">Public Transit At Its Finest</h2>
    <% end %>
  </div>
  <div class= "index-container col-xs-12 container-fluid well">
    <div class = "alert-message-container row">
      <div class="alert alert-danger" role"alert">
        <h5 id = "alert_message" style= "color:red; text-align: center;"> </h5>
      </div>
    </div>
    <% article_sort_by_vote(@articles).each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="column col-xs-12 col-s-6 col-md-6 col-lg-4" style="padding: 3px">
          <div class="card card-inverse image-index" style="background-image: url('<%=article.image %>')">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="text-center">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    </div>
    <br>
  </div>
</div>
