<div class="container">
  <div class="page-header">
    <h1 class="text-center">About Us</h1>
  </div>
  <p class="lead text-center"></p>
  <div class="container">
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="http://i.imgur.com/Txf1YMh.jpg?3" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Bill Himmelsbach</h2>
          <p>Former educator, full-stack web developer, eats weird vegan foods on the train.
          </p>
          <a href="https://github.com/billhimmelsbach" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://i.imgur.com/V6E4sou.jpg?1" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Daniel Oh</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="https://github.com/danieloh91" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://currentsurroundings.com/content/random/calvin-hobbes/large/calvin_and_hobbes_006.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>David Kim</h2>
          <p>Former mobile OS tester, current front end developer, and loves taking naps on the ferry.
          </p>
          <a href="https://github.com/WDIDavidKim" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
