<div class="container">
  <div class="page-header">
    <h1 class="text-center">About Us</h1>
  </div>
  <p class="lead text-center">I am a creative graphic designer focused on modern eye catching designs. I am not only the graphic designer! I can also do complete websites &amp; computer applications.</p>
  <div class="container">
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="http://i.imgur.com/Txf1YMh.jpg?2" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Bill Himmelsbach</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="https://github.com/billhimmelsbach" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://i.imgur.com/V6E4sou.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Daniel Oh</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="https://github.com/danieloh91" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://currentsurroundings.com/content/random/calvin-hobbes/large/calvin_and_hobbes_006.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>David Kim</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="https://github.com/WDIDavidKim" class="btn btn-primary" title="See more">Github »</a>
        </div>
      </div>
    </div>

<!-- /container -->
