/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

 footer {
   position: absolute;
   left: 0;
   bottom: 0;
   height: 40px;
   min-width: 1060px;
   width: 100%;
   font-size: 14px;
   text-align: center;

 }
 html, body{
   height: 100%;
   padding-top: 60px;
 }
 .footer, .push {
   height: 4em;
 }

 .navbar-brand>img {
    padding: 0px;
    height: 40px;
    width: 140px;
 }
 .navbar {
   height: 70px;
 }
 .navbar-nav {
   margin-top: 10px;
   padding-right: 40px;
 }
