/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

 footer {
   left: 0;
   bottom: 0;
   height: 40px;
   min-width: 1060px;
   width: 100%;
   font-size: 14px;
   text-align: center;
   position: static;
 }
 html, body{
   height: 100%;
   padding-top: 60px;
 }
 .footer, .push {
   height: 4em;
 }

 .navbar-brand>img {
    padding: 0px;
    height: 40px;
    width: 140px;
 }
 .navbar {
   height: 70px;
 }
 .navbar-nav {
   margin-top: 10px;
   padding-right: 40px;
 }

.CreateButton {
  text-align: center;
}

h2 {
  text-align: center;
}

.vote-total {
  font-size: 2vw
}
