.footer{
  margin: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
html, body{
  height: 100%;
}
.footer, .push {
  height: 4em;
}

.navbar-brand>img {
   padding: 0px;
   height: 40px;
   width: 140px;
}
.navbar {
  height: 70px;
}
.navbar-nav {
  margin-top: 10px;
  padding-right: 40px;
}




/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
