// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%;
  padding-top: 60px;
}

.card-inverse {
  background-size: cover;
  color:white;
  height: 45vh;
  text-align: center
}
