<body>
  <br>
  <div class="dialog col-xs-12">
    <div class="row">
      <img class="img-responsive img-circle center-block" src="https://i.imgur.com/1w8qFiL.gif">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1> Sorry, the page you were looking for doesn't exist.</h1>
          <p>You may have mistyped the address or the page may have moved.</p>
          <p>Love the Fail Muni Whale? Find more at http://www.njudahchronicles.com/</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>
